#FRONTEND

# dependencies
/frontend/.env
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*



# BACKEND

# Django #
/backend/*.log
/backend/*.pot
/backend/*.pyc
/backend/__pycache__
/backend/media
/backend/core/.env
/backend/venv
/backend/.env

# Backup files #
/backend/*.bak


# Telebot #

/telebot/bot/.env

