@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center{
    @apply flex justify-center items-center
  }
  .page {
    @apply text-center m-0 p-0;
  }
  .section {
    @apply p-16 w-screen text-3xl flex-col flex-center;
  }
}

body {
  margin: 0;
  font-family: 'League Spartan',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

